<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BA102G4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>securedapp</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/BA102G4DB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>com.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
    <servlet-name>*</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter_Mgr</filter-name>
    <filter-class>com.filters.LoginFilter_Mgr</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter_Mgr</filter-name>
    <url-pattern>/back_end/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutM</filter-name>
    <filter-class>com.filters.AutM</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutM</filter-name>
    <url-pattern>/back_end/mgr/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutCA</filter-name>
    <filter-class>com.filters.AutCA</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutCA</filter-name>
    <url-pattern>/back_end/adapply/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutCF</filter-name>
    <filter-class>com.filters.AutCF</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutCF</filter-name>
    <url-pattern>/back_end/forum/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutRM</filter-name>
    <filter-class>com.filters.AutRM</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutRM</filter-name>
    <url-pattern>/back_end/memrep/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutRC</filter-name>
    <filter-class>com.filters.AutRC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutRC</filter-name>
    <url-pattern>/back_end/courserep/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutRP</filter-name>
    <filter-class>com.filters.AutRP</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutRP</filter-name>
    <url-pattern>/back_end/placerep/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutCC</filter-name>
    <filter-class>com.filters.AutCC</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutCC</filter-name>
    <url-pattern>/back_end/coa_gym_apply/coa_apply.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutCG</filter-name>
    <filter-class>com.filters.AutCG</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutCG</filter-name>
    <url-pattern>/back_end/coa_gym_apply/gym_apply.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AutPI</filter-name>
    <filter-class>com.filters.AutPI</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutPI</filter-name>
    <url-pattern>/back_end/editAbout/*</url-pattern>
    <url-pattern>/back_end/annew/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <context-param>
    <param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
    <param-value>80000000</param-value>
  </context-param>
</web-app>